body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo {
  font-size: 2rem;
}

.fa {
  display: inherit !important;
}

.article-list {
  margin: 20px 0;
}

.article-list p {
  margin: 0;
}

.article-list .article-title {
  font-size: 1.3rem;
}

.article-list .article-meta {
  display: inline-flex;
  align-items: center;
}

.article-list .article-date {
  color: #9e9e9e;
  margin-right: 10px;
}

.article-list .article-tag {
  font-size: 0.8rem;
  margin-bottom: 0;
  height: 20px;
  line-height: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li.active {
  background-color: #01579b;
}

.pagination li:first-child span {
  font-size: 0;
}

.pagination li:first-child span:after {
  font-size: 1.2rem;
  content: "<<";
}

.pagination li:nth-child(2) span {
  font-size: 0;
}

.pagination li:nth-child(2) span:after {
  font-size: 1.2rem;
  content: "<";
}

.pagination li:nth-last-child(2) span {
  font-size: 0;
}

.pagination li:nth-last-child(2) span:after {
  font-size: 1.2rem;
  content: ">";
}

.pagination li:last-child span {
  font-size: 0;
}

.pagination li:last-child span:after {
  font-size: 1.2rem;
  content: ">>";
}

.page-footer {
  padding: 20px;
  color: #616161;
}

.icon-list {
  display: inline-flex;
}

.icon-list a {
  padding: 0 15px;
  color: black;
}
