{{ define "main" }}
  {{ range .Data.Pages }}
    <article class="article-list">
      <p class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      <div class="article-meta">
        <p class="article-date">{{ .Date.Format "2006-01-02" }}</p>
        {{ if .Params.tags}}
          {{ range .Params.tags }}
            <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/">
              <div class="chip article-tag">#{{ . }}</div>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </article>
  {{ end }}
{{ end }}
